
.parent {
    max-width: 80%;
    /* height: 100%; */
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 6%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    

.div2 {
    grid-row: span 3 / span 3;
}

.div6 {
    grid-row-start: 2;
}

.div7 {
    grid-row-start: 3;
}
        